{% extends "base.html" %}
{% block title %}投票详情页{% endblock %}
{% block content %}
<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">
{% csrf_token %}
<input type="hidden" name="userid"  value={{ request.user.id }}>
    <table>
    {% for choice in question.choice_set.all %}

    <tr>
        <td><input type="checkbox" name="check_box_list" id="choice{{ forloop.counter }}" value="{{ choice.id }}"></td>
        <td><label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label></td>
    </tr>
    {% endfor %}
    </table>
<input type="submit" value="投票">
</form>
    <a href="{% url 'polls:results' question.id %}">查看投票结果</a>
{% endblock %}